@{
    var orderId = "123456"; 
}


    <div class="card text-center shadow p-4" style="max-width: 400px; margin:auto; margin-bottom:10px;">
        <div class="card-body">
            <h4 class="card-title">Đặt Hàng Thành Công!</h4>
            <p class="card-text">Cảm ơn bạn đã mua sắm tại cửa hàng của chúng tôi.</p>
            <p class="fw-bold">Mã đơn hàng: <span class="text-primary">@orderId</span></p>
            <a href="/" class="btn btn-primary mt-3">Tiếp tục mua sắm</a>
        </div>
    </div>


