<div class="container my-4">
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="gio-hang">Giỏ hàng</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Thông tin giao hàng
        </li>
        <li class="breadcrumb-item">
            Phương thức thanh toán
        </li>
    </ul>
    <div class="mb-4">
        <h2 class="h4">Thông tin giao hàng</h2>
    </div>
    <div>
        <form>
            <!-- Họ và tên -->
            <div class="mb-3">
                <label for="billing_address_full_name" class="form-label">Họ và tên</label>
                <input type="text" id="billing_address_full_name" name="billing_address_full_name" class="form-control text-capitalize" placeholder="Họ và tên" required>
            </div>
            <!-- Số điện thoại -->
            <div class="mb-3">
                <label for="billing_address_phone" class="form-label">Số điện thoại</label>
                <input type="tel" id="billing_address_phone" name="billing_address_phone" class="form-control" placeholder="Số điện thoại" maxlength="12" minlength="10" required>
            </div>
            <!-- Địa chỉ -->
            <div class="mb-3">
                <label for="billing_address_address" class="form-label">Địa chỉ</label>
                <input type="text" id="billing_address_address" name="billing_address_address" class="form-control text-capitalize" placeholder="Địa chỉ" required>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="billing_shipping_province" class="form-label">Tỉnh/Thành</label>
                    <select id="billing_shipping_province" name="billing_shipping_province" class="form-control" required>
                        <option value="" disabled selected>Chọn Tỉnh/Thành</option>
                        <option value="10">Bà Rịa Vũng Tàu</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="billing_shipping_district" class="form-label">Quận/Huyện</label>
                    <select id="billing_shipping_district" name="billing_shipping_district" class="form-control" required>
                        <option value="" disabled selected>Chọn Quận/Huyện</option>
                        <option value="3139">Thị xã Bà Rịa</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="billing_shipping_ward" class="form-label">Phường/Xã</label>
                    <select id="billing_shipping_ward" name="billing_shipping_ward" class="form-control" required>
                        <option value="" disabled selected>Chọn Phường/Xã</option>
                        <option value="22053">Xã Hòa Long</option>
                    </select>
                </div>
            </div>

            <!-- Email -->
            <div class="mb-3">
                <label for="billing_email" class="form-label">Email</label>
                <input type="email" id="billing_email" name="billing_email" class="form-control text-lowercase" placeholder="example@domain.com" required>
            </div>
            <div class="d-flex justify-content-between mt-4">
                <!-- Nút quay lại giỏ hàng -->
                <a href="gio-hang" class="btn btn-outline-secondary">
                    <i class="fas fa-arrow-left"></i> Quay lại giỏ hàng
                </a>
                <!-- Nút tiếp tục đến phương thức thanh toán -->
                <a href="phuong-thuc-thanh-toan" class="btn btn-primary">
                    Tiếp tục đến phương thức thanh toán <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </form>
    </div>
</div>
