@{
    ViewData["Title"]="";
}
<style>
    .sidebarblog-title h2 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .news-latest ul li {
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
    }

        .news-latest ul li:last-child {
            border-bottom: none;
        }

        .news-latest ul li img {
            border-radius: 4px;
            object-fit: cover;
        }

        .news-latest ul li span {
            font-size: 14px;
            line-height: 1.5;
            font-weight: 500;
        }

</style>
<div class="container">
    <div class="row">
        <!-- Nội dung chính -->
        <div class="col-md-9 col-sm-12 col-xs-12">
            <div class="content-page">
                <div class="article-content" id="Blog">
                    
                </div>
            </div>
        </div>

        <!-- Bài viết khác -->
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="sidebar-blog">
                <div class="news-latest clearfix">
                    <!-- Tiêu đề -->
                    <div class="sidebarblog-title title_block mb-3">
                        <h2 class="text-center mt-3">BÀI VIẾT KHÁC</h2>
                        <hr class="mx-auto" style="width: 50%; border: 1px solid black;">
                    </div>
                    <!-- Danh sách bài viết -->
                    <ul class="list-unstyled" id="Sidebar">
                        <!-- Bài viết 1 -->
                        
                        
                    </ul>
                </div>
            </div>
        </div>


    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function(){
        function getQueryParam(param){
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get('blogid');
        }

        const blogid=getQueryParam('blogid');

        $.ajax({
            url:`https://localhost:7103/api/homeapi/BlogId?blogid=${blogid}`,
            type:'GET',
            success:function(res){
                var html='';
                var sidebar='';
                var Image='';
                var contentParts = res.blog.blogContent.split('\n');
                if (res.blog.blogImages) { 
                    Image = `
                        <div style="text-align:center;" >
                        <img src="/images/${res.blog.blogImages}" alt="Blog Image" class="img-fluid mb-3"  style="width: 600px; height: 600px;"/>
                    </div>
                    ` ;
                }
                
                //Tạo hình ảnh ở giữa
                    $('title').text(res.blog.blogTitle);
                var middleContent = Math.floor(contentParts.length/2);
                contentWithImage = contentParts.slice(0, middleContent)
                    + Image
                    + contentParts.slice(middleContent);

                    html = `
                        <div class="box-article-heading clearfix">
                        <h1 class="sb-title-article mt-3">${res.blog.blogTitle}</h1>
                    </div>
                    <div class="article-pages">
                        <p>
                             ${contentWithImage}
                        </p>
                    </div>
                    `;
                    $('#Blog').html(html);
                
                res.sidebarBlog.forEach(function(blog){
                    sidebar += `
                        <li class="d-flex align-items-center mb-3">
                            <a href="/Home/TrangBlog?blogid=${blog.blogId}" class="thumbnail mr-2">
                                    <img src="/images/${blog.blogImage}" alt="Blog Image" class="img-fluid mb-3"  style="width: 70px; height: 70px;"/>
                            </a>
                            <a href="/Home/TrangBlog?blogid=${blog.blogId}" class="text-decoration-none text-dark ms-lg-2">
                                <span>${blog.blogTitle}</span>
                            </a>
                        </li>
                    `;
                });
                $('#Sidebar').html(sidebar);
            }
        });
    });
</script>