<div class="ps-cart-listing">

	<div class="cartPage">
		<div class="ps-post__header">
			<h1 class="ps-post__title"> Giỏ hàng</h1>
		</div>

		<div class="itemCart tr86452289">

			<div class="inforCart">
				<div class="image">
					<a href="https://kingshoes.vn/nike-revolution-7-fb2208-010-gia-tot-den-king-shoes.html">
						<img src="https://kingshoes.vn/data/upload/media/fb2208-100-giay-nike-revolution-7-gia-tot-den-king-shoes-12.jpeg" alt="NIKE REVOLUTION 7">
					</a>
				</div>
				<div class="numberPrice">
					<div class="title">
						<a href="https://kingshoes.vn/nike-revolution-7-fb2208-010-gia-tot-den-king-shoes.html">
							<h3>NIKE REVOLUTION 7</h3>
						</a>
					</div>
					<div class="attribute_pro"><span class="badge bg-primary me-2">Size Giày: <b>36</b></span></div>
					<p class="ps-product__category">Mã SP: <strong>FB2208 010</strong></p>
					<div class="number">
						<div class="form-group--number">
							<button class="minus" onclick="var result = document.getElementById('qty86452289'); var qty = result.value; if( !isNaN( qty ) &amp;&amp; qty > 1 ) result.value--; updateGH(86452289,'gio-hang/update','qty86452289','.qtypro86452289','.sumprice86452289','.sumpro86452289');" type="button" fdprocessedid="vzein"><span>-</span></button>

							<input type="text" name="tqty[86452289]" class="form-control" id="qty86452289" value="1" fdprocessedid="3h6onm">

							<button class="plus" onclick="var result = document.getElementById('qty86452289'); var qty = result.value; if( !isNaN( qty )) result.value++;updateGH(86452289,'gio-hang/update','qty86452289','.qtypro86452289','.sumprice86452289','.sumpro86452289');" type="button" fdprocessedid="67dz9"><span>+</span></button>
						</div>
						<i class="fa fa-times"></i> <span class="textPrice">1,800,000đ</span>
					</div>
					<div class="total_price">
						Thành tiền: <span class="textPrice sumprice86452289"> 1,800,000đ</span>
					</div>
					<div class="btnCart">
						<button class="btnClick btnDel" onclick="return deteleSPGHPageName(86452289,'NIKE REVOLUTION 7','gio-hang/remove','gio-hang','sumprice8645','sumpro8645','.tr86452289');" fdprocessedid="l84bas">
							<i class="fa fa-times" aria-hidden="true"></i>
						</button>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>


		<div class="itemCart sumItemCart row justify-content-end">
			<div class="col-auto co-12">
				<div class="inforSum">
					<b>Tổng tiền:</b> <span class="textPrice sumPrice">1,800,000đ</span>
				</div>
			</div>
			<div class="col-auto col-12 d-flex justify-content-end">
				<div class="buyNext mr-4">
					<a class="ps-btn" href="san-pham">Xóa hết giỏ hàng<i class="fa fa-sync-alt"></i></a>
				</div>
				<div class="buyNext mr-4">
					<a class="ps-btn" href="san-pham">Mua tiếp<i class="ps-icon-next"></i></a>
				</div>
				<div class="buyNext">
					<a class="ps-btn" href="checkouts">Đặt hàng <i class="ps-icon-next"></i></a>
				</div>
			</div>
		</div>
	</div>



</div>