<main class="ps-main">
	<div class="ps-contact ps-section pb-80">
		<div id="contact-map" class="iframe mb-0">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3123.3622668630246!2d106.69869367386812!3d10.771932589376549!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f40c7a0f411%3A0xe272a9c70ba4a66e!2zNjUgxJAuIEh14buzbmggVGjDumMgS2jDoW5nLCBC4bq_biBOZ2jDqSwgUXXhuq1uIDEsIEjhu5MgQ2jDrSBNaW5oIDUwMDAwLCBWaeG7h3QgTmFt!5e1!3m2!1svi!2s!4v1733021620132!5m2!1svi!2s" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
		<section class="section-breadcrumbs mb-50">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-12">
						<div class="breadcrumbs">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb breadcrumb-light d-flex justify-content-center justify-content-lg-start" itemscope itemtype="http://schema.org/BreadcrumbList">
									<li class="breadcrumb-item text-nowrap" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
										<a itemprop="item" href="https://kingshoes.vn/">
											<span itemprop="name"><i class="fa-light fa-house"></i> Home</span>
										</a>
										<meta itemprop="position" content="1" />
									</li>
									<li class="breadcrumb-item text-nowrap" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
										<a itemprop="item" href="https://kingshoes.vn/lien-he">
											<span itemprop="name">Liên hệ</span>
										</a>
										<meta itemprop="position" content="2" />
									</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="container d-flex justify-content-center align-items-center">
			<div class="row justify-content-center w-100">
				<div class="col-lg-6 col-md-8 col-sm-12">
					<div class="ps-section__header text-center mb-4">
						<h2 class="ps-section__title">LIÊN HỆ VỚI CHÚNG TÔI</h2>
					</div>
					<form id="fcontact" name="fcontact" action="" class="p-4 border rounded shadow-sm bg-light">
						<input type="hidden" name="_token" value="3ed2afb1b57a71c47a7b6c0dd399073b">
						<input name="link" type="hidden" value="https://kingshoes.vn/lien-he.html" />
						<div class="mb-3">
							<textarea class="form-control" name="fmessenger" id="fmessenger" placeholder="Nội dung" rows="4"></textarea>
						</div>
						<div class="mb-3">
							<input name="fname" id="fname" class="form-control" type="text" placeholder="Tên bạn *" required>
						</div>
						<div class="row g-3">
							<div class="col-md-6">
								<input class="form-control" type="email" name="femail" id="femail" placeholder="Email *" required>
							</div>
							<div class="col-md-6">
								<input class="form-control" type="text" name="fphone" id="fphone" placeholder="Điện thoại *" required maxlength="12" minlength="10">
							</div>
						</div>
						<div class="mt-4 text-center">
							<button type="submit" class="btn btn-primary me-2">Gửi ngay</button>
							<button type="reset" class="btn btn-secondary">Nhập lại</button>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>
</main>
<!--end:body-->