<link href="~/css/TrangMomo.css" rel="stylesheet" />

<div class="payment-container mt-3 ms-lg-3">
    <h2>Thanh Toán MOMO</h2>
    <div class="qr-code">
        <!-- Thay URL QR bằng API MOMO của bạn -->
        <img src="https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl=InsertYourMomoQRCodeHere" alt="QR Code MOMO">
    </div>
    <div class="instructions">
        Mở ứng dụng MOMO, chọn "Quét Mã" và thanh toán.
    </div>
    <a href="/" class="btn">Quay lại trang chủ</a>
</div>


