    <!-- SLideShow -->
<div class="splide" id="image-slider">
    <div class="splide__track">
        <ul class="splide__list">
            <!-- Các slide hình ảnh -->
            <li class="splide__slide">
                <img src="aaa.jpg" alt="Slide 1">
            </li>
            <li class="splide__slide">
                <img src="asp-net-core.png" alt="Slide 2">
            </li>
            <li class="splide__slide">
                <img src="~/images/background.jpg" alt="Slide 3">
            </li>
            <!-- Thêm các slide hình ảnh khác nếu cần -->
        </ul>
    </div>

    <!-- Các nút điều khiển -->
    <div class="splide__arrows">
        <button class="splide__arrow splide__arrow--prev"><<</button>
        <button class="splide__arrow splide__arrow--next"> >> </button>
    </div>
</div>
<section class="ps-features pt-40 pb-20 bg--cover">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-12 mb-4">
                <div class="ps-iconbox ps-iconbox--inverse">
                    <div class="ps-iconbox__header">
                        <span class="icon-box-icon icon-shipping"><i class='ps-icon-money'></i></span>
                        <h3>CAM KẾT CHÍNH HÃNG</h3>
                        <p>100 % Authentic</p>
                    </div>
                    <div class="ps-iconbox__content">
                        <p>Cam kết sản phẩm chính hãng từ Châu Âu, Châu Mỹ...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-12 mb-4">
                <div class="ps-iconbox ps-iconbox--inverse">
                    <div class="ps-iconbox__header">
                        <span class="icon-box-icon icon-shipping"><i class='ps-icon-delivery'></i></span>
                        <h3>GIAO HÀNG HỎA TỐC</h3>
                        <p>Express delivery</p>
                    </div>
                    <div class="ps-iconbox__content">
                        <p>SHIP hỏa tốc 1h nhận hàng trong nội thành HCM</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-12 mb-4">
                <div class="ps-iconbox ps-iconbox--inverse">
                    <div class="ps-iconbox__header">
                        <span class="icon-box-icon icon-shipping"><i class='ps-icon-customer-service'></i></span>
                        <h3>HỖ TRỢ 24/24</h3>
                        <p>Supporting 24/24</p>
                    </div>
                    <div class="ps-iconbox__content">
                        <p>Gọi ngay <a href='tel:0909300746'>0909300746</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End slideShow -->
<!-- Sản phẩm mới -->
<section class="ps-section--features-product ps-section pt-40 pb-40">
    <div class="container">
        <div class="ps-section__header mb-50 clearfix">
            <h3 class="ps-section__title" data-mask="Product"><a href="san-pham">- Sản phẩm mới</a></h3>
        </div>
        <div class="ps-products" data-mh="product-listing">
            <div class="row g-3">
                <!-- Sản phẩm 1 -->
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12 itemPro">
                    <div class="ps-shoe">
                        <div class="ps-shoe__thumbnail">
                            <div class="product-label-group">
                                <div class="product-label"><span>New</span></div>
                            </div>
                            <img class="lazy" src="https://kingshoes.vn/data/upload/thumb/sneaker-315122-111-air-force-1-07-nike-kingshoesvn-tphcm-tanbinh-17-logo-1551924204-jpg/500_SNEAKER-315122-111-AIR-FORCE-1-07-NIKE-KINGSHOES.VN-TPHCM-TANBINH-17-logo-1551924204-.jpg.webp" alt="AIR FORCE 1">
                            <a class="ps-shoe__overlay" href="https://kingshoes.vn/air-force-1-cw2288-111.html"></a>
                        </div>
                        <div class="ps-shoe__content">
                            <div class="ps-shoe__detail">
                                <a class="ps-shoe__name" href="https://kingshoes.vn/air-force-1-cw2288-111.html">AIR FORCE 1</a>
                                <span class="ps-shoe__price">
                                    3,200,000 đ
                                </span>
                            </div>
                            <div class="ps-shoe__rating">
                                <span class="star">★</span>
                                <span class="star">★</span>
                                <span class="star">★</span>
                                <span class="star">★</span>
                                <span class="star">☆</span> <!-- Sao chưa đánh giá -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sản phẩm 2 -->
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12 itemPro">
                    <div class="ps-shoe">
                        <div class="ps-shoe__thumbnail">
                            <div class="product-label-group">
                                <div class="product-label"><span>New</span></div>
                            </div>
                            <img class="lazy" src="https://kingshoes.vn/data/upload/thumb/fb7054-105-giay-nike-zoom-vapor-pro-2-hc-prm-gia-tot-den-king-shoes-12jpeg/500_fb7054-105-giay-nike-zoom-vapor-pro-2-hc-prm-gia-tot-den-king-shoes-12.jpeg.webp" alt="NIKECOURT AIR ZOOM VAPOR PRO 2 PREMIUM">
                            <a class="ps-shoe__overlay" href="https://kingshoes.vn/nikecourt-air-zoom-vapor-pro-2-premium-fb7054-105-chinh-hang-gia-tot-den-king-shoes.html"></a>
                        </div>
                        <div class="ps-shoe__content">
                            <div class="ps-shoe__detail">
                                <a class="ps-shoe__name" href="https://kingshoes.vn/nikecourt-air-zoom-vapor-pro-2-premium-fb7054-105-chinh-hang-gia-tot-den-king-shoes.html">NIKECOURT AIR ZOOM VAPOR PRO 2 PREMIUM</a>
                                <span class="ps-shoe__price">3,500,000 đ</span>
                                <div class="ps-shoe__rating">
                                    <span class="star">★</span>
                                    <span class="star">★</span>
                                    <span class="star">★</span>
                                    <span class="star">★</span>
                                    <span class="star">☆</span> <!-- Sao chưa đánh giá -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sản phẩm 3 -->
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12 itemPro">
                    <div class="ps-shoe">
                        <div class="ps-shoe__thumbnail">
                            <div class="product-label-group">
                                <div class="product-label"><span>New</span></div>
                            </div>
                            <img class="lazy" src="https://kingshoes.vn/data/upload/thumb/fb2269-106-giay-jordan-stadium-90-gia-tot-den-king-shoes-store-12jpeg/500_fb2269-106-giay-jordan-stadium-90-gia-tot-den-king-shoes-store-12.jpeg.webp" alt="JORDAN STADIUM 90">
                            <a class="ps-shoe__overlay" href="https://kingshoes.vn/jordan-stadium-90-fb2269-106-chinh-hang-gia-tot-den-king-shoes.html"></a>
                        </div>
                        <div class="ps-shoe__content">
                            <div class="ps-shoe__detail">
                                <a class="ps-shoe__name" href="https://kingshoes.vn/jordan-stadium-90-fb2269-106-chinh-hang-gia-tot-den-king-shoes.html">JORDAN STADIUM 90</a>
                                <span class="ps-shoe__price">3,900,000 đ</span>
                            </div>
                            <div class="ps-shoe__rating">
                                <span class="star">★</span>
                                <span class="star">★</span>
                                <span class="star">★</span>
                                <span class="star">★</span>
                                <span class="star">☆</span> <!-- Sao chưa đánh giá -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sản phẩm 4 -->
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12 itemPro">
                    <div class="ps-shoe">
                        <div class="ps-shoe__thumbnail">
                            <div class="product-label-group">
                                <div class="product-label"><span>New</span></div>
                            </div>
                            <img class="lazy" src="https://kingshoes.vn/data/upload/thumb/fb2269-106-giay-jordan-stadium-90-gia-tot-den-king-shoes-store-12jpeg/500_fb2269-106-giay-jordan-stadium-90-gia-tot-den-king-shoes-store-12.jpeg.webp" alt="JORDAN STADIUM 90">
                            <a class="ps-shoe__overlay" href="https://kingshoes.vn/jordan-stadium-90-fb2269-106-chinh-hang-gia-tot-den-king-shoes.html"></a>
                        </div>
                        <div class="ps-shoe__content">
                            <div class="ps-shoe__detail">
                                <a class="ps-shoe__name" href="https://kingshoes.vn/jordan-stadium-90-fb2269-106-chinh-hang-gia-tot-den-king-shoes.html">JORDAN STADIUM 90</a>
                                <span class="ps-shoe__price">3,900,000 đ</span>
                            </div>
                            <div class="ps-shoe__rating">
                                <span class="star">★</span>
                                <span class="star">★</span>
                                <span class="star">★</span>
                                <span class="star">★</span>
                                <span class="star">☆</span> <!-- Sao chưa đánh giá -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="text-center mt-4">
                <a href="/tat-ca-san-pham" class="btn btn-primary">Xem tất cả</a>
            </div>
        </div>
    </div>
</section>
<!--End Sản phẩm mới -->
<!-- Sản phẩm nổi bật -->
<section class="ps-section--features-product ps-section pt-40 pb-40">
    <div class="container">
        <div class="ps-section__header mb-50 clearfix">
            <h3 class="ps-section__title" data-mask="Product"><a href="san-pham">- Sản phẩm nổi bật</a></h3>
        </div>
        <div class="ps-products" data-mh="product-listing">
            <div class="row g-3">
                <!-- Sản phẩm 1 -->
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12 itemPro">
                    <div class="ps-shoe">
                        <div class="ps-shoe__thumbnail">
                            <div class="product-label-group">
                                <div class="product-label"><span>New</span></div>
                            </div>
                            <img class="lazy" src="https://kingshoes.vn/data/upload/thumb/sneaker-315122-111-air-force-1-07-nike-kingshoesvn-tphcm-tanbinh-17-logo-1551924204-jpg/500_SNEAKER-315122-111-AIR-FORCE-1-07-NIKE-KINGSHOES.VN-TPHCM-TANBINH-17-logo-1551924204-.jpg.webp" alt="AIR FORCE 1">
                            <a class="ps-shoe__overlay" href="https://kingshoes.vn/air-force-1-cw2288-111.html"></a>
                        </div>
                        <div class="ps-shoe__content">
                            <div class="ps-shoe__detail">
                                <a class="ps-shoe__name" href="https://kingshoes.vn/air-force-1-cw2288-111.html">AIR FORCE 1</a>
                                <span class="ps-shoe__price">3,200,000 đ</span>
                            </div>
                            <div class="ps-shoe__rating">
                                <span class="star">★</span>
                                <span class="star">★</span>
                                <span class="star">★</span>
                                <span class="star">★</span>
                                <span class="star">☆</span> <!-- Sao chưa đánh giá -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sản phẩm 2 -->
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12 itemPro">
                    <div class="ps-shoe">
                        <div class="ps-shoe__thumbnail">
                            <div class="product-label-group">
                                <div class="product-label"><span>New</span></div>
                            </div>
                            <img class="lazy" src="https://kingshoes.vn/data/upload/thumb/fb7054-105-giay-nike-zoom-vapor-pro-2-hc-prm-gia-tot-den-king-shoes-12jpeg/500_fb7054-105-giay-nike-zoom-vapor-pro-2-hc-prm-gia-tot-den-king-shoes-12.jpeg.webp" alt="NIKECOURT AIR ZOOM VAPOR PRO 2 PREMIUM">
                            <a class="ps-shoe__overlay" href="https://kingshoes.vn/nikecourt-air-zoom-vapor-pro-2-premium-fb7054-105-chinh-hang-gia-tot-den-king-shoes.html"></a>
                        </div>
                        <div class="ps-shoe__content">
                            <div class="ps-shoe__detail">
                                <a class="ps-shoe__name" href="https://kingshoes.vn/nikecourt-air-zoom-vapor-pro-2-premium-fb7054-105-chinh-hang-gia-tot-den-king-shoes.html">NIKECOURT AIR ZOOM VAPOR PRO 2 PREMIUM</a>
                                <span class="ps-shoe__price">3,500,000 đ</span>
                            </div>
                            <div class="ps-shoe__rating">
                                <span class="star">★</span>
                                <span class="star">★</span>
                                <span class="star">★</span>
                                <span class="star">★</span>
                                <span class="star">☆</span> <!-- Sao chưa đánh giá -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sản phẩm 3 -->
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12 itemPro">
                    <div class="ps-shoe">
                        <div class="ps-shoe__thumbnail">
                            <div class="product-label-group">
                                <div class="product-label"><span>New</span></div>
                            </div>
                            <img class="lazy" src="https://kingshoes.vn/data/upload/thumb/fb2269-106-giay-jordan-stadium-90-gia-tot-den-king-shoes-store-12jpeg/500_fb2269-106-giay-jordan-stadium-90-gia-tot-den-king-shoes-store-12.jpeg.webp" alt="JORDAN STADIUM 90">
                            <a class="ps-shoe__overlay" href="https://kingshoes.vn/jordan-stadium-90-fb2269-106-chinh-hang-gia-tot-den-king-shoes.html"></a>
                        </div>
                        <div class="ps-shoe__content">
                            <div class="ps-shoe__detail">
                                <a class="ps-shoe__name" href="https://kingshoes.vn/jordan-stadium-90-fb2269-106-chinh-hang-gia-tot-den-king-shoes.html">JORDAN STADIUM 90</a>
                                <span class="ps-shoe__price">3,900,000 đ</span>
                            </div>
                            <div class="ps-shoe__rating">
                                <span class="star">★</span>
                                <span class="star">★</span>
                                <span class="star">★</span>
                                <span class="star">★</span>
                                <span class="star">☆</span> <!-- Sao chưa đánh giá -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sản phẩm 4 -->
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12 itemPro">
                    <div class="ps-shoe">
                        <div class="ps-shoe__thumbnail">
                            <div class="product-label-group">
                                <div class="product-label"><span>New</span></div>
                            </div>
                            <img class="lazy" src="https://kingshoes.vn/data/upload/thumb/fb2269-106-giay-jordan-stadium-90-gia-tot-den-king-shoes-store-12jpeg/500_fb2269-106-giay-jordan-stadium-90-gia-tot-den-king-shoes-store-12.jpeg.webp" alt="JORDAN STADIUM 90">
                            <a class="ps-shoe__overlay" href="https://kingshoes.vn/jordan-stadium-90-fb2269-106-chinh-hang-gia-tot-den-king-shoes.html"></a>
                        </div>
                        <div class="ps-shoe__content">
                            <div class="ps-shoe__detail">
                                <a class="ps-shoe__name" href="https://kingshoes.vn/jordan-stadium-90-fb2269-106-chinh-hang-gia-tot-den-king-shoes.html">JORDAN STADIUM 90</a>
                                <span class="ps-shoe__price">3,900,000 đ</span>
                            </div>
                            <div class="ps-shoe__rating">
                                <span class="star">★</span>
                                <span class="star">★</span>
                                <span class="star">★</span>
                                <span class="star">★</span>
                                <span class="star">☆</span> <!-- Sao chưa đánh giá -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="text-center mt-4">
                <a href="/tat-ca-san-pham" class="btn btn-primary">Xem tất cả</a>
            </div>
        </div>
    </div>
</section>
<!--End Sản phẩm nổi bật -->
<!-- Sản phẩm bán chạy -->
<section class="ps-section--features-product ps-section pt-40 pb-40">
    <div class="container">
        <div class="ps-section__header mb-50 clearfix">
            <h3 class="ps-section__title" data-mask="Product"><a href="san-pham">- Sản phẩm bán chạy</a></h3>
        </div>
        <div class="ps-products" data-mh="product-listing">
            <div class="row g-3">
                <!-- Sản phẩm 1 -->
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12 itemPro">
                    <div class="ps-shoe">
                        <div class="ps-shoe__thumbnail">
                            <div class="product-label-group">
                                <div class="product-label"><span>New</span></div>
                            </div>
                            <img class="lazy" src="https://kingshoes.vn/data/upload/thumb/sneaker-315122-111-air-force-1-07-nike-kingshoesvn-tphcm-tanbinh-17-logo-1551924204-jpg/500_SNEAKER-315122-111-AIR-FORCE-1-07-NIKE-KINGSHOES.VN-TPHCM-TANBINH-17-logo-1551924204-.jpg.webp" alt="AIR FORCE 1">
                            <a class="ps-shoe__overlay" href="https://kingshoes.vn/air-force-1-cw2288-111.html"></a>
                        </div>
                        <div class="ps-shoe__content">
                            <div class="ps-shoe__detail">
                                <a class="ps-shoe__name" href="https://kingshoes.vn/air-force-1-cw2288-111.html">AIR FORCE 1</a>
                                <span class="ps-shoe__price">3,200,000 đ</span>
                            </div>
                            <div class="ps-shoe__rating">
                                <span class="star">★</span>
                                <span class="star">★</span>
                                <span class="star">★</span>
                                <span class="star">★</span>
                                <span class="star">☆</span> <!-- Sao chưa đánh giá -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sản phẩm 2 -->
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12 itemPro">
                    <div class="ps-shoe">
                        <div class="ps-shoe__thumbnail">
                            <div class="product-label-group">
                                <div class="product-label"><span>New</span></div>
                            </div>
                            <img class="lazy" src="https://kingshoes.vn/data/upload/thumb/fb7054-105-giay-nike-zoom-vapor-pro-2-hc-prm-gia-tot-den-king-shoes-12jpeg/500_fb7054-105-giay-nike-zoom-vapor-pro-2-hc-prm-gia-tot-den-king-shoes-12.jpeg.webp" alt="NIKECOURT AIR ZOOM VAPOR PRO 2 PREMIUM">
                            <a class="ps-shoe__overlay" href="https://kingshoes.vn/nikecourt-air-zoom-vapor-pro-2-premium-fb7054-105-chinh-hang-gia-tot-den-king-shoes.html"></a>
                        </div>
                        <div class="ps-shoe__content">
                            <div class="ps-shoe__detail">
                                <a class="ps-shoe__name" href="https://kingshoes.vn/nikecourt-air-zoom-vapor-pro-2-premium-fb7054-105-chinh-hang-gia-tot-den-king-shoes.html">NIKECOURT AIR ZOOM VAPOR PRO 2 PREMIUM</a>
                                <span class="ps-shoe__price">3,500,000 đ</span>
                            </div>
                            <div class="ps-shoe__rating">
                                <span class="star">★</span>
                                <span class="star">★</span>
                                <span class="star">★</span>
                                <span class="star">★</span>
                                <span class="star">☆</span> <!-- Sao chưa đánh giá -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sản phẩm 3 -->
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12 itemPro">
                    <div class="ps-shoe">
                        <div class="ps-shoe__thumbnail">
                            <div class="product-label-group">
                                <div class="product-label"><span>New</span></div>
                            </div>
                            <img class="lazy" src="https://kingshoes.vn/data/upload/thumb/fb2269-106-giay-jordan-stadium-90-gia-tot-den-king-shoes-store-12jpeg/500_fb2269-106-giay-jordan-stadium-90-gia-tot-den-king-shoes-store-12.jpeg.webp" alt="JORDAN STADIUM 90">
                            <a class="ps-shoe__overlay" href="https://kingshoes.vn/jordan-stadium-90-fb2269-106-chinh-hang-gia-tot-den-king-shoes.html"></a>
                        </div>
                        <div class="ps-shoe__content">
                            <div class="ps-shoe__detail">
                                <a class="ps-shoe__name" href="https://kingshoes.vn/jordan-stadium-90-fb2269-106-chinh-hang-gia-tot-den-king-shoes.html">JORDAN STADIUM 90</a>
                                <span class="ps-shoe__price">3,900,000 đ</span>
                            </div>
                            <div class="ps-shoe__rating">
                                <span class="star">★</span>
                                <span class="star">★</span>
                                <span class="star">★</span>
                                <span class="star">★</span>
                                <span class="star">☆</span> <!-- Sao chưa đánh giá -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sản phẩm 4 -->
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12 itemPro">
                    <div class="ps-shoe">
                        <div class="ps-shoe__thumbnail">
                            <div class="product-label-group">
                                <div class="product-label"><span>New</span></div>
                            </div>
                            <img class="lazy" src="https://kingshoes.vn/data/upload/thumb/fb2269-106-giay-jordan-stadium-90-gia-tot-den-king-shoes-store-12jpeg/500_fb2269-106-giay-jordan-stadium-90-gia-tot-den-king-shoes-store-12.jpeg.webp" alt="JORDAN STADIUM 90">
                            <a class="ps-shoe__overlay" href="https://kingshoes.vn/jordan-stadium-90-fb2269-106-chinh-hang-gia-tot-den-king-shoes.html"></a>
                        </div>
                        <div class="ps-shoe__content">
                            <div class="ps-shoe__detail">
                                <a class="ps-shoe__name" href="https://kingshoes.vn/jordan-stadium-90-fb2269-106-chinh-hang-gia-tot-den-king-shoes.html">JORDAN STADIUM 90</a>
                                <span class="ps-shoe__price">3,900,000 đ</span>
                            </div>
                            <div class="ps-shoe__rating">
                                <span class="star">★</span>
                                <span class="star">★</span>
                                <span class="star">★</span>
                                <span class="star">★</span>
                                <span class="star">☆</span> <!-- Sao chưa đánh giá -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="text-center mt-4">
                <a href="/tat-ca-san-pham" class="btn btn-primary">Xem tất cả</a>
            </div>
        </div>
    </div>
</section>
<!--End Sản phẩm bán chạy -->

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        // Khởi tạo Splide cho slideshow
        var splide = new Splide('#image-slider', {
            type: 'fade', // Chế độ chuyển slide mờ
            heightRatio: 0.5, // Tỷ lệ chiều cao của slideshow
            arrows: true, // Hiển thị nút chuyển slide
            pagination: false, // Tắt phân trang nếu không cần
        });

        // Khởi tạo Splide
        splide.mount();
    });
</script>