<style>
    .sidebarblog-title h2 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .news-latest ul li {
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
    }

        .news-latest ul li:last-child {
            border-bottom: none;
        }

        .news-latest ul li img {
            border-radius: 4px;
            object-fit: cover;
        }

        .news-latest ul li span {
            font-size: 14px;
            line-height: 1.5;
            font-weight: 500;
        }


</style>
<div class="container">
    <div class="row">
        <!-- Nội dung chính -->
        <div class="col-md-9 col-sm-12 col-xs-12">
            <div class="content-page">
                <div class="article-content">
                    <div class="box-article-heading clearfix">
                        <h1 class="sb-title-article">Giới thiệu về T1</h1>
                    </div>
                    <div class="article-pages">
                        <!-- Nội dung bài viết -->
                        <p>1./ T1 đang dần trở thành một cái tên quen thuộc với tất cả các bạn trẻ</p>
                        <p>
                            Có mặt trên thị trường hơn 10 năm và đang ngày càng khẳng định vị thế trong lòng khách hàng,
                            MWC với những sản phẩm độc quyền mang thương hiệu riêng, sự đang dạng về mẫu mã, kiểu dáng,
                            chất liệu, tính năng … sẽ mang lại nhiều sự lựa chọn cho khách hàng. MWC luôn không ngừng đổi mới và phát triển, trở thành người bạn đồng hành thân thiết mang lại cho bạn sự thoải mái,
                            tự tin khi sử dụng, và là sự lựa chọn hoàn hảo phong cách thời trang của bạn.
                        </p>
                    </div>
                    <div class="article-pages">
                        <!-- Nội dung bài viết -->
                        <p>2./ Sản phẩm nằm trong phân khúc giá HSSV với nhiều ưu đãi hấp dẫn phù hợp với túi tiền của tất cả khách hàng</p>
                        <p>
                            Với lợi thế sản xuất trực tiếp, ngoài việc chủ động trong việc thiết kế mẫu mã,
                            kiểm soát tốt chất lượng thì giá thành sản phẩm rẻ nhất so với chất lượng mang lại là cầu nối để khách hàng tiếp cận,
                            trải nghiệm, mua sắm, và trở thành khách hàng thân thiết của T1.
                        </p>
                    </div>
                    <div class="article-pages">
                        <!-- Nội dung bài viết -->
                        <p>3./ Kênh phân phối rộng khắp</p>
                        <p>
                            Với hơn 82 cửa hàng trải dài rộng khắp hơn 28 tỉnh thành trên toàn quốc cùng với các nền tảng mua sắm online hoàn thiện trên facebook,
                            web, app, TMĐT (Shopee, Tiki, Lazada, Sendo)
                            sẽ đáp ứng nhu cầu mua sắm mọi lúc mọi nơi sẽ mang lại cho khách hàng những trải nghiệm mua sắm tuyệt vời nhất
                        </p>
                    </div>
                    <div class="article-pages">
                        <!-- Nội dung bài viết -->
                        <p>4./ Sự hài lòng của các bạn chính là mục tiêu phấn đấu của chúng tôi.</p>
                        <p>
                            Chất lượng sản phẩm được khẳng định với chính sách bảo hành keo vĩnh viễn cùng với các chính sách hậu mãi,
                            CSKH tận tâm sẽ mang lại sự hài lòng cho khách hàng khi đến với T1
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bài viết khác -->
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="sidebar-blog">
                <div class="news-latest clearfix">
                    <!-- Tiêu đề -->
                    <div class="sidebarblog-title title_block mb-3">
                        <h2 class="text-center">BÀI VIẾT KHÁC</h2>
                        <hr class="mx-auto" style="width: 50%; border: 1px solid black;">
                    </div>
                    <!-- Danh sách bài viết -->
                    <ul class="list-unstyled">
                        <!-- Bài viết 1 -->
                        <li class="d-flex align-items-center mb-3">
                            <a href="/post/1" class="thumbnail mr-2">
                                <img src="https://img.mwc.com.vn/giay-thoi-trang?FileInput=/Resources/Post/2024/08/22/0fbd881e-223a-4c5c-bfa6-7de0132e36f5.jpg" alt="Bài viết 1" class="img-fluid" style="width: 70px; height: 70px;">
                            </a>
                            <a href="/post/1" class="text-decoration-none text-dark">
                                <span>Những kiểu giày thể thao được ưa chuộng cho năm học mới</span>
                            </a>
                        </li>
                        <!-- Bài viết 2 -->
                        <li class="d-flex align-items-center mb-3">
                            <a href="/post/2" class="thumbnail mr-2">
                                <img src="https://img.mwc.com.vn/giay-thoi-trang?FileInput=/Resources/Post/2024/08/22/0fbd881e-223a-4c5c-bfa6-7de0132e36f5.jpg" alt="Bài viết 2" class="img-fluid" style="width: 70px; height: 70px;">
                            </a>
                            <a href="/post/2" class="text-decoration-none text-dark">
                                <span>BST giày đón xuân không thể bỏ lỡ của T1 shop</span>
                            </a>
                        </li>
                        <!-- Thêm các bài viết khác -->
                        <li class="d-flex align-items-center mb-3">
                            <a href="/post/3" class="thumbnail mr-2">
                                <img src="https://img.mwc.com.vn/giay-thoi-trang?FileInput=/Resources/Post/2024/08/22/0fbd881e-223a-4c5c-bfa6-7de0132e36f5.jpg" alt="Bài viết 3" class="img-fluid" style="width: 70px; height: 70px;">
                            </a>
                            <a href="/post/3" class="text-decoration-none text-dark">
                                <span>Khuyến mãi không giới hạn cho tài khoản đầu tiên</span>
                            </a>
                        </li>
                        <!-- Lặp lại cho các bài viết -->
                    </ul>
                </div>
            </div>
        </div>


    </div>
</div>