<div class="container mt-3">
    <h2 class="mb-4">Quản Lý Khách Hàng</h2>
    <!-- Ô Tìm Kiếm -->
    <div class="mb-3">
        <input type="text"
               id="searchInput"
               class="form-control"
               placeholder="Tìm kiếm khách hàng..." />
    </div>
    <!-- Bảng Khách hàng -->
    <div class="card shadow-sm">
        <div class="card-body">
            <table id="productTable" class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                      
                        <th>Tên khách hàng</th>
                        <th>email</th>
                        <th>Địa chỉ</th>
                        <th>Giới tính</th>
                        <th>Mã khách hàng</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Các sản phẩm được thêm từ backend -->
                    <tr>
                        <td>Nguyễn Ngọc Thông </td>
                        <td>NgocThong@caothang.edu.vn</td>
                        <td>59/5 Huyện Nhà Bè </td>
                        <td>Nam</td>
                        <td>001</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>





