<div class="container mt-3">
    <h2 class="mb-4">Quản lý đơn hàng</h2>

    <!-- Tab Control -->
    <ul class="nav nav-tabs" id="detailOrderTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="unresponded-tab" data-bs-toggle="tab" data-bs-target="#unresponded" type="button" role="tab" aria-controls="unresponded" aria-selected="true">
                Đơn hàng chưa xử lý
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="packing-tab" data-bs-toggle="tab" data-bs-target="#packing" type="button" role="tab" aria-controls="packing" aria-selected="false">
                Đơn hàng đang đóng gói
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="shipping-tab" data-bs-toggle="tab" data-bs-target="#shipping" type="button" role="tab" aria-controls="shipping" aria-selected="false">
                Đơn hàng đang vận chuyển
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="delivered-tab" data-bs-toggle="tab" data-bs-target="#delivered" type="button" role="tab" aria-controls="delivered" aria-selected="false">
                Đơn hàng đã giao
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="processing-canceled-tab" data-bs-toggle="tab" data-bs-target="#processing-canceled" type="button" role="tab" aria-controls="processing-canceled" aria-selected="false">
                Đơn hàng đang xử lý hủy
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="canceled-tab" data-bs-toggle="tab" data-bs-target="#canceled" type="button" role="tab" aria-controls="canceled" aria-selected="false">
                Đơn hàng đã hủy
            </button>
        </li>
    </ul>

    <!-- Tab Content -->
    <div class="tab-content mt-3" id="orderDetailTabsContent">
        <!-- Unresponded Order Detail -->
        <div class="tab-pane fade show active" id="unresponded" role="tabpanel" aria-labelledby="unresponded-tab">
            <div class="card shadow-sm">
                <div class="card-body">
                    <table id="unrespondedTable" class="table table-striped table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th>Order Id</th>
                                <th>Order Date</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Status</th>
                                <th>Payment Status</th>
                                <th>Total</th>
                                <th>Functions</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Packing Order Detail -->
        <div class="tab-pane fade" id="packing" role="tabpanel" aria-labelledby="packing-tab">
            <div class="card shadow-sm">
                <div class="card-body">
                    <table id="packingTable" class="table table-striped table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th>Order Id</th>
                                <th>Order Date</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Status</th>
                                <th>Payment Status</th>
                                <th>Total</th>
                                <th>Functions</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Shipping Order Detail -->
        <div class="tab-pane fade" id="shipping" role="tabpanel" aria-labelledby="shipping-tab">
            <div class="card shadow-sm">
                <div class="card-body">
                    <table id="shippingTable" class="table table-striped table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th>Order Id</th>
                                <th>Order Date</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Status</th>
                                <th>Payment Status</th>
                                <th>Total</th>
                                <th>Functions</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Delivered Order Detail -->
        <div class="tab-pane fade" id="delivered" role="tabpanel" aria-labelledby="delivered-tab">
            <div class="card shadow-sm">
                <div class="card-body">
                    <table id="deliveredTable" class="table table-striped table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th>Order Id</th>
                                <th>Order Date</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Status</th>
                                <th>Payment Status</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                          
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Orders Processing Canceled Order Detail -->
        <div class="tab-pane fade" id="processing-canceled" role="tabpanel" aria-labelledby="processing-canceled-tab">
            <div class="card shadow-sm">
                <div class="card-body">
                    <table id="processingCanceledTable" class="table table-striped table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th>Order Id</th>
                                <th>Order Date</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Status</th>
                                <th>Payment Status</th>
                                <th>Total</th>
                                <th>Functions</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Canceled Order Detail -->
        <div class="tab-pane fade" id="canceled" role="tabpanel" aria-labelledby="canceled-tab">
            <div class="card shadow-sm">
                <div class="card-body">
                    <table id="canceledTable" class="table table-striped table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th>Order Id</th>
                                <th>Order Date</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Payment Status</th>
                                <th>Status</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    function displayOrderDetail(orderDetail) {
        var actionButtons;

        if (orderDetail.status === "Canceled" || orderDetail.status === "Delivered") {
            actionButtons = ``;
        } else if (orderDetail.status = "Processing Canceled") {
    ;            actionButtons = `<td>
                    <button class="btn btn-danger btn-sm btn-rejected" data-order-id=${orderDetail.orderId}>Hủy</button>
                   </td>`;
        } else {
                actionButtons = `<td>
                <button class="btn btn-info btn-sm btn-approved" data-order-id=${orderDetail.orderId}>Duyệt</button>
                <button class="btn btn-danger btn-sm btn-rejected" data-order-id=${orderDetail.orderId}>Hủy</button>
               </td>`;
        }

        const row = `
            <tr>
                <td>${orderDetail.orderId}</td>
                <td>${orderDetail.orderDate}</td>
                <td>${orderDetail.customerName}</td>
                <td>${orderDetail.customerPhone}</td>
                <td>${orderDetail.paymentStatus}</td>
                <td>${orderDetail.status}</td>
                <td>${orderDetail.totalAmount}</td>
                ${actionButtons}
            </tr>
        `;
        switch(orderDetail.status) {
            case "Pending":
                $('#unrespondedTable tbody').append(row);
                break;
            case "Packing":
                $('#packingTable tbody').append(row);
                break;
            case "Shipping":
                $('#shippingTable tbody').append(row);
                break;
            case "Delivered":
                $('#deliveredTable tbody').append(row);
                break;
            case "Processing Canceled":
                $('#processingCanceledTable tbody').append(row);
                break;
            case "Canceled":
                $('#canceledTable tbody').append(row);
                break;
        }
    }
        
    $(document).ready(function() {
        $.ajax({
            url: '/api/orderdetails',
            method: 'GET',
            success: function(orderDetails) {
                console.log(orderDetails);
                orderDetails.forEach(orderDetail => displayOrderDetail(orderDetail));
            },
            error: function(xhr, status, error) {
                    console.error("Error updating status: " + status + " " + error);
            }
        })

        $(document).on('click', '.btn-approved', function() {
            const orderId = $(this).data('order-id');

            $.ajax({
                url: `/api/orderdetails/${orderId}`,
                method: 'PATCH',
                success: function() {
                    alert('Cập nhật trạng thái thành công!');
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.error('Lỗi khi cập nhật trạng thái:', status, error);
                    alert('Cập nhật trạng thái thất bại!');
                }
            })
        })

        $(document).on('click', '.btn-rejected', function() {
            const orderId = $(this).data('order-id');

            var confirmDelete = confirm("Bạn có chắc chắn muốn hủy đơn hàng này không?");
                if (!confirmDelete) {
                    return; // Người dùng chọn 'Hủy bỏ'
                }

            $.ajax({
                url: `/api/orderdetails/${orderId}`,
                method: 'DELETE',
                success: function() {
                    alert('Xóa thành công');
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.error('Lỗi khi hủy đơn hàng:', status, error);
                    alert('Cập nhật trạng thái thất bại!');
                }
            })
        })
    })
</script>
