<div class="mt-3 m-lg-3">
    <h1>Quản lý đơn hàng</h1>

    <div class="input-group rounded">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <span class="input-group-text border-0" id="search-addon">
            <i class="fas fa-search" style="cursor: pointer"></i>
        </span>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Order Id</th>
                <th>Order Date</th>
                <th>Total Amount</th>
                <th>Phone</th>
                <th>Status</th>
                <th>Functions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>20/11/2024</td>
                <td>5</td>
                <td>84123456789</td>
                <td>
                            <select class="bootstrap-select">
                        <option value="1" selected="selected">Đang chờ xác nhận</option>
                        <option value="2">Đang đóng gói</option>
                        <option value="3">Đang vận chuyển</option>
                        <option value="4">Hủy đơn hàng</option>
                    </select>
                </td>
                <td>
                    <button type="button" class="btn btn-info">
                        Chi tiết
                    </button>
                    <button type="button" class="btn btn-danger">
                        Xóa
                    </button>
                </td>

            </tr>
        </tbody>
    </table>
</div>

