<table class="table table-striped">
    <thead>
        <tr>
            <th>Image</th>
            <th>Order Id</th>
            <th>Order Date</th>
            <th>Total Amount</th>
            <th>Phone</th>
            <th>Status</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Total Price</th>
            <th>Color</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="image-product-a.jpg" alt="Sản phẩm A" width="50"></td>
            <td>1</td>
            <td>20/11/2024</td>
            <td>5</td>
            <td>84123456789</td>
            <td>Đang chờ duyệt</td>
            <td>Sản phẩm A</td>
            <td>100,000 VND</td>
            <td>2</td>
            <td>50,000 VND</td>
            <td>100,000 VND</td>
            <td>Đỏ</td>
            
        </tr>
    </tbody>
</table>
