<div class="mt-3 m-lg-3">
    <h1>Quản lý nhà cung cấp </h1>

    <!-- Nút thêm nhà cung cấp -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalThemNCC">
        Thêm nhà cung cấp
    </button>

    <!-- Popup cho thêm nhà cung cấp -->
    <div class="modal fade " id="modalThemNCC" tabindex="-1" aria-labelledby="modalThemNCC" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <form class="row g-3">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalThemNCC">Thêm nhà cung cấp</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <label for="supplier_name" class="form-label">Tên nhà cung cấp</label>
                                <input type="text" class="form-control" id="supplier_name" name="supplier_name" placeholder="Nhập tên nhà cung cấp" required />
                            </div>

                            <div class="col">
                                <label for="contact_email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" name="contact_email" placeholder="Nhập email" required />
                            </div>

                            <div class="col">
                                <label for="phone" class="form-label">SĐT</label>
                                <input type="text" class="form-control" id="phone" name="phone" placeholder="Nhập sđt" required />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label for="address" class="form-label">Địa chỉ</label>
                                <input type="text" class="form-control" id="address" name="address" placeholder="Nhập địa chỉ người liên hệ" required />
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                            <button type="submit" class="btn btn-primary" id="btnSupplier">Thêm nhà cung cấp</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>


    <div class="input-group rounded">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <span class="input-group-text border-0" id="search-addon">
            <i class="fas fa-search" style="cursor: pointer"></i>
        </span>
    </div>

    <table class="table table-striped" id="supplierTable">
        <thead>
            <tr>
                <th>Supplier ID</th>
                <th>Supplier Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
                <th>Status</th>
                <th>Functions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function () {
        const $inputCity = $(".inputCity");
        const $inputDistrict = $(".inputDistrict");
        const $inputWard = $(".inputWard");

        const getProvince = async () => {
            const url = "https://provinces.open-api.vn/api";
            const response = await fetch(url);
            return await response.json();
        };

        const getDistrict = async () => {
            const url = "https://provinces.open-api.vn/api/d/";
            const response = await fetch(url);
            return await response.json();
        };

        const getWard = async () => {
            const url = "https://provinces.open-api.vn/api/w/";
            const response = await fetch(url);
            return await response.json();
        };

        const loadInputCity = async () => {
            const provinces = await getProvince();
            provinces.forEach((province) => {
                $inputCity.append(
                    $("<option>")
                        .val(province.code)
                        .text(province.name)
                );
            });
        };

        $inputCity.on("change", async function () {
            const districts = await getDistrict();
            $inputDistrict.html("<option value=''>Chọn</option>");
            const selectedValue = $(this).val();

            districts.forEach((district) => {
                if (parseInt(district.province_code) === parseInt(selectedValue)) {
                    $inputDistrict.append(
                        $("<option>")
                            .val(district.code)
                            .text(district.name)
                    );
                }
            });
        });

        $inputDistrict.on("change", async function () {
            const wards = await getWard();
            $inputWard.html("<option value=''>Chọn</option>");
            const selectedValue = $(this).val();

            wards.forEach((ward) => {
                if (parseInt(ward.district_code) === parseInt(selectedValue)) {
                    $inputWard.append(
                        $("<option>")
                            .val(ward.code)
                            .text(ward.name)
                    );
                }
            });
        });

        loadInputCity();

        function renderModal(supplier) {
            return `
            <div class="modal fade" id="modal-${supplier.supplierId}" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">Chỉnh sửa nhà cung cấp</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col">
                                    <label for="supplier_name-${supplier.supplierId}" class="form-label">Tên nhà cung cấp</label>
                                    <input type="text" class="form-control" id="supplier_name-${supplier.supplierId}" name="supplier_name" value="${supplier.supplierName}" required />
                                </div>
                                <div class="col">
                                    <label for="email-${supplier.supplierId}" class="form-label">Email người liên hệ</label>
                                    <input type="text" class="form-control" id="email-${supplier.supplierId}" name="email" value="${supplier.email}" required />
                                </div>
                            
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label for="phone-${supplier.supplierId}" class="form-label">SĐT</label>
                                    <input type="text" class="form-control" id="phone-${supplier.supplierId}" name="phone" value="${supplier.phone}" required />
                                </div>
                                <div class="col">
                                    <label for="status-${supplier.supplierId}" class="form-label">Trạng thái</label>
                                    <select class="form-control" id="status-${supplier.supplierId}" name="status">
                                        <option value="true" ${supplier.status === true ? 'selected' : ''}>Active</option>
                                        <option value="false" ${supplier.status === false ? 'selected' : ''}>Inactive</option>
                                    </select>
                                </div>
                            </div>

                            <div>
                                <label for="address-${supplier.supplierId} class="form-label">Địa chỉ</label>
                                <input type="text" class="form-control" id="address-${supplier.supplierId}" name="address" value="${supplier.address}" required />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                            <button type="button" class="btn btn-primary" id="save-change-${supplier.supplierId}">Lưu thay đổi</button>
                        </div>
                    </div>
                </div>
            </div>`;
        }

        $.ajax({
            url: '/api/suppliers',
            method: 'GET',
            success: function(res) {
                var suppliers = res.data;

                $('supplierTable tbody').empty();

                $.each(suppliers, function(index, supplier) {
                    var row = `
                                <tr>
                                    <td>${supplier.supplierId}</td>
                                    <td>${supplier.supplierName}</td>
                                    <td>${supplier.phone}</td>
                                    <td>${supplier.email}</td>
                                    <td>${supplier.address}</td>
                                    <td>${supplier.status ? 'Active' : 'Inactive'}</td>
                                    <td>
                                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modal-${supplier.supplierId}">
                                            Chỉnh sửa
                                        </button>
                                        <button type="button" class="btn btn-danger" id="delete-${supplier.supplierId}" data-supplier-id=${supplier.supplierId}>Xóa</button>
                                        ${renderModal(supplier)}
                                    </td>
                                </tr>`;

                    $('#supplierTable tbody').append(row);

                    $(`#save-change-${supplier.supplierId}`).click(function() {
                        var supplierId = supplier.supplierId;
                        var supplierName = $(`#supplier_name-${supplierId}`).val();
                        var email = $(`#email-${supplierId}`).val();
                        var phone = $(`#phone-${supplierId}`).val();
                        var address = $(`#address-${supplierId}`).val();
                        var status = $(`#status-${supplier.supplierId}`).val() === "true";

                        // Send PUT request to update supplier
                        $.ajax({
                            url: '/api/suppliers/' + supplierId,
                            method: 'PUT',
                            contentType: 'application/json',
                            data: JSON.stringify({
                                SupplierId: supplierId,
                                SupplierName: supplierName,
                                Address: address,
                                Phone: phone,
                                Email: email,
                                Status: status
                            }),
                            success: function(res) {
                                alert("Thông tin nhà cung cấp đã được cập nhật!");
                                $(`#modal-${supplierId}`).modal('hide');
                                location.reload();  // Optional: reload page to refresh supplier list
                            },
                            error: function(xhr, status, error) {
                                console.error("Error:", error);
                                alert("Đã xảy ra lỗi khi cập nhật thông tin nhà cung cấp.");
                            }
                        });
                    });

                    $("#delete-" + supplier.supplierId).click(function() {
                        // Lấy SupplierId từ data attribute
                        var supplierId = $(this).data("supplier-id");
                        console.log(supplierId);
                        // Gửi AJAX request để thực hiện xóa hoặc thay đổi trạng thái
                        $.ajax({
                            url: '/api/suppliers/' + supplierId,  // Đảm bảo đường dẫn chính xác
                            method: 'DELETE',
                            success: function(res) {
                                alert("Trạng thái nhà cung cấp đã được thay đổi!");
                                location.reload();
                            },
                            error: function(xhr, status, error) {
                                console.error("Error: " + status + " " + error);
                                alert("Đã xảy ra lỗi khi thay đổi trạng thái.");
                            }
                        });
                    });
                });
            },
            error: function(xhr, status, error) {
                console.error("Error: " + status + " " + error);
            }


        })

        $("#btnSupplier").click(function(e) {

            const supplierData = {
                SupplierName: $("#supplier_name").val(),
                Address: $("#address").val(),
                Phone: $("#phone").val(),
                Email: $("#email").val(),
                Status: true
            };

            $.ajax({
                url: "/api/suppliers",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify(supplierData),
                success: function(res) {
                    alert("Thêm nhà cung cấp thành công!");
                    $("#modalThemNCC").modal("hide");
                },
                error: function (xhr, status, error) {
                console.error("Error:", error);
                alert("Đã xảy ra lỗi khi thêm nhà cung cấp.");
                }
            });
        })


    });


</script>
